body {
    background-image: url(../recursos/Captura\ de\ pantalla\ 2024-09-11\ 023951.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #e0e0e0;
}

/* Encabezado */
h1 {
    font-family: "Unkempt", cursive;
    font-size: 15vw;
    text-align: center;
    margin-top: 20vh; /* Ajusta el margen superior */
    color: aliceblue;
}

/* Contenedor para botón y descripción */
.container {
    position: absolute;
    bottom: 15vh; /* Ajusta la distancia del fondo */
    left: 50%; /* Centra el contenedor */
    transform: translateX(-50%); /* Compensa el desplazamiento */
    display: flex; /* Usar flexbox para alinear elementos */
    align-items: center; /* Centra verticalmente */
}

/* Botón */
.ingreso {
    font-size: 5vw; /* Tamaño más grande para el botón */
    padding: 4vh 4vw; /* Aumenta el padding */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro para mejor contraste */
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    border: 0.5vw solid rgb(21, 255, 0);
    margin-left: 2vw; /* Espacio entre la descripción y el botón */
}

.ingreso:hover {
    transition: all 0.3s;
    border-radius: 3vw; /* Bordes más redondeados */
    box-shadow: 0 0 1vw rgb(21, 255, 0), 0 0 4vw rgb(21, 255, 0), 0 0 8vw rgb(21, 255, 0), 0 0 20vw rgba(255, 255, 255, 0.5);
}

/* Descripción */
.descripcion {
    background: rgba(17, 34, 52, 0.8); /* Fondo oscuro */
    padding: 2vh 1vw;
    width: 40vw; /* Ajusta el ancho */
    color: white;
    font-family: Arial, sans-serif;
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
}

/* Media Query para pantallas específicas */
@media (max-width: 720px) {
    .container {
        flex-direction: column; /* Cambia a columna en pantallas pequeñas */
        align-items: center; /* Centra los elementos */
    }

    .ingreso {
        font-size: 6vw; /* Tamaño más grande para el botón en móviles */
        padding: 5vh 5vw; /* Aumenta el padding */
    }

    .descripcion {
        width: 80vw; /* Aumenta el ancho para mejor visualización */
        margin-bottom: 2vh; /* Espacio entre la descripción y el botón */
    }
}
